In [94]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras import layers

# Load the dataset
# Assuming the dataset is in CSV format, replace 'your_dataset.csv' with the actual file path.
df = pd.read_csv('data.csv')

In [95]:
df.head()

,First Term Gpa' numeric,Second Term Gpa' numeric,First Language' numeric,Funding numeric,School numeric,FastTrack numeric,Coop numeric,Residency numeric,Gender numeric,Previous Education' numeric,Age Group' numeric,High School Average Mark' numeric,Math Score' English Grade' numeric,Unnamed: 13,"FirstYearPersistence {1,0}"
0,0,0,1,2,6,2,1,1,2,1,1,59,16,7,1
1,2.5,2,3,4,6,1,2,2,2,1,3,?,?,7,1
2,4.25,3.923077,1,1,6,2,1,1,1,2,3,92,41,9,1
3,3.020833,2.321429,3,4,6,1,2,2,2,2,3,?,?,8,1
4,4.275,4.326923,1,2,6,1,1,1,1,2,3,97,?,9,1

In [96]:
df.columns

Index(['First Term Gpa' numeric', 'Second Term Gpa' numeric',
       'First Language' numeric', ' Funding numeric', 'School numeric',
       'FastTrack numeric', 'Coop numeric', ' Residency numeric',
       'Gender numeric', 'Previous Education' numeric', 'Age Group' numeric',
       'High School Average Mark' numeric',
       'Math Score' English Grade' numeric', 'Unnamed: 13',
       'FirstYearPersistence {1,0}'],
      dtype='object')

In [97]:
df.isnull().sum()

First Term Gpa' numeric               0
Second Term Gpa' numeric              0
First Language' numeric               0
 Funding numeric                      0
School numeric                        0
FastTrack numeric                     0
Coop numeric                          0
 Residency numeric                    0
Gender numeric                        0
Previous Education' numeric           0
Age Group' numeric                    0
High School Average Mark' numeric     0
Math Score' English Grade' numeric    0
Unnamed: 13                           0
FirstYearPersistence {1,0}            0
dtype: int64

In [98]:
#outlier detection

In [99]:
import numpy as np

In [100]:


# Split dataset into features (X) and target (y)
X = df.drop('FirstYearPersistence {1,0}', axis=1)
y = df['FirstYearPersistence {1,0}']

In [102]:
df.replace('?', np.nan, inplace=True)

In [105]:
import numpy as np


#Normalize the data using one hot encoding for nan

X = pd.get_dummies(X)
X.fillna(X.mean(), inplace=True)


# Normalize the data

scaler = StandardScaler()
X = scaler.fit_transform(X)

In [106]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [107]:
# Build the neural network model
model = tf.keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(32, activation='relu'),
    # Assuming regression for persistence count
    layers.Dense(1, activation='linear')
])

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [108]:
# Train the model
model.fit(X_train, y_train, validation_data=(
    X_test, y_test), epochs=10, batch_size=32)

Epoch 1/10
36/36 [==============================] - 2s 12ms/step - loss: 0.6383 - mae: 0.6232 - val_loss: 0.4557 - val_mae: 0.5067
Epoch 2/10
36/36 [==============================] - 0s 4ms/step - loss: 0.2150 - mae: 0.3607 - val_loss: 0.3925 - val_mae: 0.4772
Epoch 3/10
36/36 [==============================] - 0s 4ms/step - loss: 0.0897 - mae: 0.2256 - val_loss: 0.3796 - val_mae: 0.4710
Epoch 4/10
36/36 [==============================] - 0s 5ms/step - loss: 0.0430 - mae: 0.1400 - val_loss: 0.3708 - val_mae: 0.4645
Epoch 5/10
36/36 [==============================] - 0s 5ms/step - loss: 0.0298 - mae: 0.1055 - val_loss: 0.3696 - val_mae: 0.4652
Epoch 6/10
36/36 [==============================] - 0s 4ms/step - loss: 0.0253 - mae: 0.0939 - val_loss: 0.3616 - val_mae: 0.4590
Epoch 7/10
36/36 [==============================] - 0s 4ms/step - loss: 0.0211 - mae: 0.0885 - val_loss: 0.3766 - val_mae: 0.4741
Epoch 8/10
36/36 [==============================] - 0s 4ms/step - loss: 0.0222 - mae: 0.0921 - val_loss: 0.3466 - val_mae: 0.4523
Epoch 9/10
36/36 [==============================] - 0s 4ms/step - loss: 0.0217 - mae: 0.0922 - val_loss: 0.3576 - val_mae: 0.4620
Epoch 10/10
36/36 [==============================] - 0s 4ms/step - loss: 0.0217 - mae: 0.0924 - val_loss: 0.3467 - val_mae: 0.4552

In [109]:
model.save('persistence_model.h5')

In [114]:
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers

# Rebuild the model
model = tf.keras.Sequential([
    # Adjust input_shape if necessary
    layers.Dense(64, activation='relu', input_shape=(14,)),
    layers.Dense(32, activation='relu'),
    layers.Dense(1, activation='sigmoid')  # Sigmoid for binary classification
])

model.compile(optimizer='adam', loss='binary_crossentropy',
              metrics=['accuracy'])

# Example input
sample_input = np.array([[3.5, 3.8, 1, 0, 1, 1, 0, 1, 1, 2, 0, 85, 75, 80]])

# Predict the target
prediction = model.predict(sample_input)
predicted_class = (prediction > 0.5).astype(int)

print("Predicted probability:", prediction[0][0])
print("Predicted class (FirstYearPersistence):", predicted_class[0][0])

1/1 [==============================] - 0s 101ms/step
Predicted probability: 0.99810755
Predicted class (FirstYearPersistence): 1